form {
  padding-top: 20px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url("https://i.pinimg.com/1200x/6b/e1/35/6be13526cd3189dc14f5aa8a0984647a.jpg");
}
fieldset {
  border: none;
  border-radius: 10px 50px;
  padding: 80px 40px !important;
  width: 600px;
  backdrop-filter: blur(20px);
  box-shadow: 5px 5px 5px 5px aliceblue;
}

form label {
  color: aliceblue;
  font-weight: bold;
  font-style: italic;
  margin-right: 10px !important;
}
/* form label:first-of-type::after {
  content: "🙎🏻";
}
form label:last-of-type::after {
  content: "🔐";
} */
.btn{
    display: flex;
    justify-content: center;
}
.btn button{
    margin: 10px;
    padding: 10px 30px;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
}

form span{
  color: azure;
}



form h1{
  text-shadow: 3px 3px 3px aliceblue;
  text-align: center;
  color: antiquewhite;
  font-style: italic;
  margin-bottom: 50px;
}

form h1::first-letter{
  font-size: 70px;
  color: red;
}


a{
  text-decoration-line: none !important;
}